body {
    background-image: url('salmon\ pink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
#resetButton {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    background-color: beige; 
    color: solid black; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 

    &:hover {
        background-color: grey; 
    }
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}